*
{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

nav {
    z-index: 1;
}

/* Centralize an element */
.myCenter
{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Block object for sorting */
.block
{
    fill: #CFD8DC;
}

.block-list
{
    list-style: none;
    display: inline;
}
