<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <!-- https://bootswatch.com/flatly/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/flatly/bootstrap.min.css" integrity="sha256-3LXKhyYmYxt+fGciLxN474K5Ycw5FXqQJDJpW54Q3XQ=" crossorigin="anonymous">

        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <link rel="stylesheet" href="/static/css/styles.css">

        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>

        <!-- Create navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand"  href="/">Algorithm Visualizer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">Sorting</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/selection_sort">Selection Sort</a>
                              <a class="dropdown-item" href="/bubble_sort">Bubble Sort</a>
                              <a class="dropdown-item" href="/heap_sort">Heap Sort</a>
                              <a class="dropdown-item" href="/quick_sort">Quick Sort</a>
                              <a class="dropdown-item" href="/merge_sort">Merge Sort</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">Searching</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/">Linear Search</a>
                              <a class="dropdown-item" href="/">Binary Search</a>
                              <a class="dropdown-item" href="/">Breadth First Search</a>
                              <a class="dropdown-item" href="/">Depth First Search</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <!-- TODO canvas -->
                <div id="simulation" class="container my-3 col border-end" style="height: 700px;">
                    {% block simulation %}{% endblock %}
                </div>
                <!-- {% if url_for("index") %}
                <script>
                    var canv = document.getElementById("simulation")
                    canv.style.backgroundColor = "#CFD8DC"
                </script>
                {% endif %} -->

                <!-- TODO control box -->
                <form class="control-box border-start col-2 py-3 gap-3">
                    <div class="p-2">
                        <button id="play" type="button" class="btn btn-success">Play</button>
                        <button id="reset" type="button" class="btn btn-danger" disabled>Reset</button>
                    </div>
                    <div class="p-2">
                        <label for="inputSize">Input Size</label>
                        <div class="d-flex flex-row" id="sizeControl">
                            <input class="me-1 w-75" id="inputSize" type="number" name="size" min="1" max="1000" value="50" autocomplete="off" placeholder="size">
                            <button type="button" class="btn btn-info" id="submitSize">Draw</button>
                        </div>
                    </div>
                    <div class="p-2" id="speedControl">
                        <label for="speedSlider">Speed</label>
                        <input type="range" class="form-range" min="0" max="100" step="5" value="50" id="speedSlider" data-bs-toggle="popover" data-bs-trigger="hover focus">
                        <div class="btn-group w-100" role="group" aria-label="Speed Option">
                            <input type="radio" class="btn-check" name="spd-opt" id="x1" value="1" autocomplete="off" checked>
                            <label class="btn btn-outline-light" for="x1">x1</label>
                            <input type="radio" class="btn-check" name="spd-opt" id="x10" value="10" autocomplete="off">
                            <label class="btn btn-outline-light" for="x10">x10</label>
                            <input type="radio" class="btn-check" name="spd-opt" id="x100" value="100" autocomplete="off">
                            <label class="btn btn-outline-light" for="x100">x100</label>
                        </div>
                    </div>
                    <script>
                        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                            return new bootstrap.Popover(popoverTriggerEl)
                        })

                        let inputRange = document.getElementById("speedSlider")
                        inputRange.setAttribute('data-bs-content', inputRange.value.toString())
                    </script>
                </form>

            </div>
        </div>

        <!-- Javascript code for simulation and visualization -->
        {% block JavascriptCode %}{% endblock %}

    </body>
</html>