{% extends "layouts/layout.html" %}


{% block title %}
    Quick Sort
{% endblock title %}

{% block simulation %}
<svg id="graph" width="100%" height="85%" style="transform: rotateX(180deg);"></svg>
{% endblock simulation %}

{% block JavascriptBlock %}
<script type="module" src=""></script>
{% endblock JavascriptBlock %}